.mypage-sidebar
  .mypage-menu
    %ul.mypage-menu-list
      %li.mypage-menu-list__item
        = link_to "/", class: 'mypage-menu-link' do
          マイページ
          = fa_icon "chevron-right"
      %li.mypage-menu-list__item
        = link_to "/", class: 'mypage-menu-link' do
          お知らせ
          = fa_icon "chevron-right"
      %li.mypage-menu-list__item
        = link_to "/", class: 'mypage-menu-link' do
          やることリスト
          = fa_icon "chevron-right"
      %li.mypage-menu-list__item
        = link_to "/", class: 'mypage-menu-link' do
          いいね！一覧
          = fa_icon "chevron-right"
      %li.mypage-menu-list__item
        = link_to "/", class: 'mypage-menu-link' do
          出品する
          = fa_icon "chevron-right"
      %li.mypage-menu-list__item
        = link_to "/", class: 'mypage-menu-link' do
          出品した商品−出品中
          = fa_icon "chevron-right"
      %li.mypage-menu-list__item
        = link_to "/", class: 'mypage-menu-link' do
          出品した商品−取引中
          = fa_icon "chevron-right"
      %li.mypage-menu-list__item
        = link_to "/", class: 'mypage-menu-link' do
          出品した商品−売却済み
          = fa_icon "chevron-right"
      %li.mypage-menu-list__item
        = link_to "/", class: 'mypage-menu-link' do
          購入した商品−取引中
          = fa_icon "chevron-right"
      %li.mypage-menu-list__item
        = link_to "/", class: 'mypage-menu-link' do
          購入した商品−過去の取引
          = fa_icon "chevron-right"
      %li.mypage-menu-list__item
        = link_to "/", class: 'mypage-menu-link' do
          ニュース一覧
          = fa_icon "chevron-right"
      %li.mypage-menu-list__item
        = link_to "/", class: 'mypage-menu-link' do
          評価一覧
          = fa_icon "chevron-right"
      %li.mypage-menu-list__item
        = link_to "/", class: 'mypage-menu-link' do
          ガイド
          = fa_icon "chevron-right"
      %li.mypage-menu-list__item
        = link_to "/", class: 'mypage-menu-link' do
          お問い合わせ
          = fa_icon "chevron-right"
  .merpay-menu
    %h3.mypage-menu-head メルペイ
    %ul.mypage-menu-list
      %li.mypage-menu-list__item
        = link_to "/", class: 'mypage-menu-link' do
          売上・振込申請
          = fa_icon "chevron-right"
      %li.mypage-menu-list__item
        = link_to "/", class: 'mypage-menu-link' do
          ポイント
          = fa_icon "chevron-right"
  .settings
    %h3.mypage-menu-head 設定
    %ul.mypage-menu-list
      %li.mypage-menu-list__item
        = link_to "/", class: 'mypage-menu-link' do
          プロフィール
          = fa_icon "chevron-right"
      %li.mypage-menu-list__item
        = link_to "/", class: 'mypage-menu-link' do
          発送元・お届け先住所変更
          = fa_icon "chevron-right"
      %li.mypage-menu-list__item
        = link_to "/", class: 'mypage-menu-link' do
          支払い方法
          = fa_icon "chevron-right"
