%h2 Sign upカスタマイズなう
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :nickname, "ニックネ-ム"
    %br/
    = f.text_field :nickname, autofocus: true
  .field
    = f.label :メールアドレス
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password, "パスワード"
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation, "パスワード（確認）"
    %br/
    = f.password_field :password_confirmation
  .field
    = f.label :kanji_name, "姓（全角）"
    %br/
    = f.text_field :kanji_name, name: "kanji_name[][last]", autofocus: true
  .field
    = f.label :kanji_name, "名（全角）"
    %br/
    = f.text_field :kanji_name, name: "kanji_name[][first]", autofocus: true
  .field
    = f.label :kana_name, "姓カナ（全角）"
    %br/
    = f.text_field :kana_name, name: "kana_name[][last]", autofocus: true
  .field
    = f.label :kana_name, "名カナ（全角）"
    %br/
    = f.text_field :kana_name, name: "kana_name[][first]", autofocus: true
  .field
    = f.label :birth_of_date, "生年月日"
    %br/
    = f.date_select(:birth_of_date, use_month_numbers: true, date_separator: '　', end_year: 1900, start_year: Time.now.year, include_blank: true)
  .actions
    = f.submit "Sign up"
= render "users/shared/links"
